.rosterPageLayout {
  display: flex;
  height: 1000px;
}

.rosterLayout {
  display: flex;
  width: 1000px;
  height: 1000px;
  background-image: url("../../assets/Legion/roster.png");
  text-align: center;
}

.firstRow {
  margin-top: 22.5%;
  border: 1px solid black;
  height: 16%;
  width: 100%;
}