.rosterPageLayout {
  display: flex;
}

.rosterLayout {
  margin: auto;
  width: 1000px;
  height: 1000px;
  background-size: cover;
  background-image: url("../../assets/Legion/roster.png");
  border-radius: 10px;
    box-shadow: inset 0px 0px 2px rgb(0, 0, 0, 0.4);
}

@keyframes shaking {
  0% {
    transform: rotate(0)
  }

  25% {
    transform: rotate(2deg)
  }

  50% {
    transform: rotate(0)
  }

  75% {
    transform: rotate(-2deg)
  }

  100% {
    transform: rotate(0)
  }
}

.shake {
  animation: shaking 0.2s;
}

.playersLine {
  display: flex;
  margin-top: 35px;
  flex-direction: row;
  justify-content: space-between;
}

.playersChain {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.goalies {
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 670px;
  /* outline: 2px solid rgb(13, 135, 56); */
}

.forwards {
  margin-left: 120px;
  /* outline: 2px dashed darkblue ; */
}

.defenders {
  /* outline: 2px dotted rgb(139, 0, 100) ; */
  margin-right: 25px;
}