.rosterPicker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 2px solid rebeccapurple; */
    margin: 0 auto;
    max-height: 100%;
    overflow: scroll;
    padding-right: 10px;
    box-shadow: inset 0px 3px 7px rgb(0, 0, 0, 0.4);
    border-radius: 10px;
}

.playerInPicker {
    margin: 5px;
}