@font-face {
    font-family: 'CC Ultimate Italic';
    src: url("/src/assets/Fonts/cc-ultimatum-heavy-italic.otf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    max-width: 1920px;
    /* border: 1px solid black; */
    font-family: 'Open Sans', 'Arial', sans-serif;
    margin: auto;
}

body {
}

.sticky {
    display: flex;
}

.sticky a.active {
    color: red;
    border: 2px solid violet;
    text-shadow: 10px 10px 10px salmon;
}

.pageTitle {
    font-weight: 900;
}

.menuItem {
    padding: 10px;
    margin: auto 0;
    text-decoration: none;
}